@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';
:root {
  --color-primary: #393939;
  --color-secondary: #77FF87;
  --color-secondary-2: rgb(88, 219, 103);
  --dark-green: #05d817;
  --gray-0: #f3f3f3;
  --gray-1: #494949;
  --gray-2: #393939;
  --gray-3: #262626;
  --color-orange: #E7BF28;
  --color-orange-2: rgb(228, 181, 13);
  --color-red: #E53838;
  --color-green: #38E5A9;
  --black: #000000;
  --white: #fff;
  --box-shadow-light:
        0 3px 4px 1px rgba(50, 64, 99, 0.03),
        0 3px 4px 0 rgba(0, 0, 0, 0.2);
  --box-shadow-dark:
        0 3px 4px 1px rgba(50, 64, 99, 0.068),
        0 3px 4px 0 rgba(0, 0, 0, 0.2); }

.light {
  --bg: var(--gray-0);
  --color-text: var(--black);
  --color-headlines: var(--color-secondary-2);
  --card-bg: var(--white);
  --death-color: var(--color-red);
  --cases-color: var(--color-orange-2);
  --recovered-color: var(--color-green);
  --table-row: var(--gray-0); }

.dark {
  --bg: var(--gray-3);
  --color-text: var(--white);
  --color-headlines: var(--color-secondary);
  --card-bg: var(--gray-2);
  --death-color: var(--color-red);
  --cases-color: var(--color-orange);
  --recovered-color: var(--color-green);
  --table-row: var(--gray-1); }

.rwd-table {
  margin: 1em 0;
  width: 100%;
  min-width: 300px; }
  .rwd-table tr {
    color: var(--color-text); }
  .rwd-table th {
    display: none; }
  .rwd-table td {
    display: block; }
    .rwd-table td:first-child {
      padding-top: .5em; }
    .rwd-table td:last-child {
      padding-bottom: .5em; }
    .rwd-table td:before {
      content: attr(axisLabel) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block; }
      @media (min-width: 480px) {
        .rwd-table td:before {
          display: none; } }
  .rwd-table th,
  .rwd-table td {
    text-align: left; }
    @media (min-width: 480px) {
      .rwd-table th,
      .rwd-table td {
        display: table-cell;
        padding: .25em .5em; }
        .rwd-table th:first-child,
        .rwd-table td:first-child {
          padding-left: 0; }
        .rwd-table th:last-child,
        .rwd-table td:last-child {
          padding-right: 0; } }

.rwd-table {
  color: #fff;
  border-radius: 10px;
  overflow: hidden; }
  .rwd-table tr:nth-child(even) {
    background: var(--table-row); }
  .rwd-table th,
  .rwd-table td {
    margin: .5em 1em;
    font-weight: 400; }
    @media (min-width: 480px) {
      .rwd-table th,
      .rwd-table td {
        padding: 1em !important; } }
  .rwd-table th,
  .rwd-table td:before {
    color: var(--color-orange); }

.flag {
  width: 77px;
  height: auto;
  margin: 8px 20px 0 0; }

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

.ticker-wrap {
  width: 100%;
  overflow: hidden;
  padding-left: 100%;
  box-sizing: content-box; }
  .ticker-wrap .ticker {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 235s;
    animation-duration: 235s; }
    .ticker-wrap .ticker__item {
      display: inline-block;
      padding: 0 2rem;
      color: var(--color-orange); }

/* Style the tab */
.tabs {
  overflow: hidden;
  margin-top: 15px;
  display: flex;
  gap: 25px; }
  .tabs--tab {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px; }

/* Change background color of buttons on hover */
.tabs button:hover {
  color: var(--color-secondary); }

/* Create an active/current tablink class */
.tabs button.active {
  color: var(--color-secondary); }

.active-color {
  color: var(--color-secondary); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace; }

body {
  background-color: var(--bg);
  transition: background 500ms ease-in-out, color 500ms ease-in-out; }

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px;
  column-gap: 100px;
  row-gap: 35px;
  height: 80vh; }
  @media (max-width: 800px) {
    .grid {
      grid-template-columns: 1fr;
      padding: 20px;
      justify-items: center;
      gap: 20px;
      height: 100vh; } }
  .grid--title {
    background-color: var(--card-bg);
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: var(--box-shadow-dark);
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: .065em;
    color: var(--color-headlines); }
  .grid__news {
    background-color: var(--card-bg);
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: var(--box-shadow-dark);
    width: 100%;
    grid-column: 2/ 5;
    grid-row: 1;
    overflow: hidden;
    position: relative;
    padding: 28px 30px; }
    @media (max-width: 800px) {
      .grid__news {
        grid-row: 2;
        grid-column: 1;
        width: 100%; } }
    .grid__news .news {
      background-color: var(--death-color);
      padding: 28px 30px;
      color: var(--white);
      border-radius: 10px 0 0 10px;
      width: max-content;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10; }
      @media (max-width: 800px) {
        .grid__news .news {
          top: -15px;
          padding: 26px 15px; } }
  .grid__global {
    background-color: var(--card-bg);
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: var(--box-shadow-dark);
    width: 100%;
    grid-column: 1/2;
    text-align: center;
    text-transform: uppercase; }
    .grid__global--title {
      color: var(--color-headlines);
      font-weight: 400;
      letter-spacing: .152em;
      font-size: 23px; }
    .grid__global .global-stat-number, .grid__global .global-stat-number--cases, .grid__global .global-stat-number--deaths, .grid__global .global-stat-number--recovered {
      font-size: 40px;
      font-weight: 400;
      margin-top: 20px; }
      .grid__global .global-stat-number--cases {
        color: var(--cases-color); }
      .grid__global .global-stat-number--deaths {
        color: var(--death-color); }
      .grid__global .global-stat-number--recovered {
        color: var(--recovered-color); }
  .grid__stats {
    background-color: var(--card-bg);
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: var(--box-shadow-dark);
    width: 100%;
    grid-column: 2/5;
    grid-row: 2/5;
    overflow-y: auto; }
    @media (max-width: 800px) {
      .grid__stats {
        grid-row: 6;
        grid-column: 1;
        min-height: 300px; } }
    .grid__stats--title {
      color: var(--color-headlines);
      font-size: 23px;
      text-transform: uppercase; }
    .grid__stats__options {
      display: flex;
      color: var(--color-text);
      justify-content: space-between;
      width: 180px;
      margin-top: 20px;
      opacity: 1; }
      .grid__stats__options .hidden {
        opacity: .5; }
        .grid__stats__options .hidden:hover {
          cursor: pointer; }
