/* Style the tab */
.tabs {
  overflow: hidden;
  margin-top: 15px;
  display: flex;
  gap: 25px;

  &--tab {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;

    &:hover {
      color: var(--color-secondary);
    }
  }
}

/* Create an active/current tablink class */
.tabs button.active {
  color: var(--color-secondary);
}
